body{
    overflow: hidden;
}
#table-style{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 100px;
     th{
      color: rgb(235, 6, 120);
  }
}